<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Starter Page - Selecao Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  {%load static%}


  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/Booking.css' %}" rel="stylesheet">

</head>

<body class="starter-page-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Selecao</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class=" dark-background page_two">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title " id="book">Booking</h5>

          <!-- Multi Columns Form -->
          <form class="row g-3">
            <div class="col-md-12">
              <label for="inputName5" class="form-label">Your Name</label>
              <input type="text" class="form-control" id="inputName5" value="{{user.patient.first_name}} {{user.patient.last_name}}" disabled>
            </div>
            <div class="col-md-6">
              <label for="inputEmail5" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail5">
            </div>
            <div class="col-md-6">
              <label for="inputDateTime" class="form-label">Date and Time</label>
              <input type="text" id="inputDateTime" class="form-control" name="dateTime">
              {% verbatim %}
              <div class="app-container" ng-app="dateTimeApp" ng-controller="dateTimeCtrl as ctrl" ng-cloak>
                  
                <div date-picker
                   datepicker-title="Select Date"
                   picktime="true"
                   pickdate="true"
                   pickpast="false"
                   mondayfirst="false"
                   custom-message="You have selected"
                   selecteddate="ctrl.selected_date"
                   updatefn="ctrl.updateDate(newdate)">
                
                  <div class="datepicker"
                     ng-class="{
                      'am': timeframe == 'am',
                      'pm': timeframe == 'pm',
                      'compact': compact
                    }">
                    <div class="datepicker-header">
                      <div class="datepicker-title" ng-if="datepicker_title">{{ datepickerTitle }}</div>
                      <div class="datepicker-subheader">{{ customMessage }} {{ selectedDay }} {{ monthNames[localdate.getMonth()] }} {{ localdate.getDate() }}, {{ localdate.getFullYear() }}</div>
                    </div>
                    <div class="datepicker-calendar">
                      <div class="calendar-header">
                        <div class="goback" ng-click="moveBack()" ng-if="pickdate">
                          <svg width="30" height="30">
                            <path fill="none" stroke="#0DAD83" stroke-width="3" d="M19,6 l-9,9 l9,9"/>
                          </svg>
                        </div>
                        <div class="current-month-container">{{ currentViewDate.getFullYear() }} {{ currentMonthName() }}</div>
                        <div class="goforward" ng-click="moveForward()" ng-if="pickdate">
                          <svg width="30" height="30">
                            <path fill="none" stroke="#0DAD83" stroke-width="3" d="M11,6 l9,9 l-9,9" />
                          </svg>
                        </div>
                      </div>
                      <div class="calendar-day-header">
                        <span ng-repeat="day in days" class="day-label">{{ day.short }}</span>
                      </div>
                      <div class="calendar-grid" ng-class="{false: 'no-hover'}[pickdate]">
                        <div
                          ng-class="{'no-hover': !day.showday}"
                          ng-repeat="day in month"
                          class="datecontainer"
                          ng-style="{'margin-left': calcOffset(day, $index)}"
                          track by $index>
                          <div class="datenumber" ng-class="{'day-selected': day.selected }" ng-click="selectDate(day)">
                            {{ day.daydate }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="timepicker" ng-if="picktime == 'true'">
                      <div ng-class="{'am': timeframe == 'am', 'pm': timeframe == 'pm' }">
                        <div class="timepicker-container-outer" selectedtime="time" timetravel>
                          <div class="timepicker-container-inner">
                            <div class="timeline-container" ng-mousedown="timeSelectStart($event)" sm-touchstart="timeSelectStart($event)">
                              <div class="current-time">
                                <div class="actual-time">{{ time }}</div>
                              </div>
                              <div class="timeline">
                              </div>
                              <div class="hours-container">
                                <div class="hour-mark" ng-repeat="hour in getHours() track by $index"></div>
                              </div>
                            </div>
                            <div class="display-time">
                              <div class="decrement-time" ng-click="adjustTime('decrease')">
                                <svg width="24" height="24">
                                  <path stroke="white" stroke-width="2" d="M8,12 h8"/>
                                </svg>
                              </div>
                              <div class="time" ng-class="{'time-active': edittime.active}">
                                <input type="text" class="time-input" ng-model="edittime.input" ng-keydown="changeInputTime($event)" ng-focus="edittime.active = true; edittime.digits = [];" ng-blur="edittime.active = false"/>
                                <div class="formatted-time">{{ edittime.formatted }}</div>
                              </div>
                              <div class="increment-time" ng-click="adjustTime('increase')">
                                <svg width="24" height="24">
                                  <path stroke="white" stroke-width="2" d="M12,7 v10 M7,12 h10"/>
                                </svg>
                              </div>
                            </div>
                            <div class="am-pm-container">
                              <div class="am-pm-button" ng-click="changetime('am');">am</div>
                              <div class="am-pm-button" ng-click="changetime('pm');">pm</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="buttons-container">
                      <div class="cancel-button">CANCEL</div>
                      <div class="save-button">SAVE</div>
                    </div>
                    
                  </div>
                </div>
              </div>
              {% endverbatim %}
              
            
            </div>
            <div class="col-12">
              <label for="inputAddress5" class="form-label">Address</label>
              <input type="text" class="form-control" id="inputAddres5s" placeholder="1234 Main St">
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">State</label>
              <select id="inputState" class="form-select">
                <option selected="">Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </form><!-- End Multi Columns Form -->

        </div>
      </div>
      </div>
    </div><!-- End Page Title -->


  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container">
 
      <!-- Contact Section -->
      <section id="contact" class="contact section">
  
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div><!-- End Section Title -->
  
        <div class="container" data-aos="fade" data-aos-delay="100">
  
          <div class="row gy-4">
  
            <div class="col-lg-3">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>
              </div><!-- End Info Item -->
  
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55</p>
                </div>
              </div><!-- End Info Item -->
  
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email Us</h3>
                  <p>info@example.com</p>
                </div>
              </div><!-- End Info Item -->
  
            </div>
  
            <div class="col-lg-8">
              <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                <div class="row gy-4">
  
                  <div class="col-md-6">
                    <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                  </div>
  
                  <div class="col-md-6 ">
                    <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                  </div>
  
                  <div class="col-md-12">
                    <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                  </div>
  
                  <div class="col-md-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                  </div>
  
                  <div class="col-md-12 text-center">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
  
                    <button type="submit">Send Message</button>
                  </div>
  
                </div>
              </form>
            </div><!-- End Contact Form -->
  
          </div>
  
        </div>
  
      </section><!-- /Contact Section -->
        </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>



  <!-- Vendor JS Files -->

  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'js/profile.js' %}"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

  <script>
    var app = angular.module('dateTimeApp', []);

    app.controller('dateTimeCtrl', function($scope) {
       
        $scope.selected_date = new Date();

        $scope.updateDate = function(newdate) {
            $scope.selected_date = newdate;
        };

        
    });
</script>
</body>

</html>