<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Blog - Selecao Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/animate.css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">




  <!-- Main CSS File -->
  <link rel="stylesheet" href="{% static 'css/team.css' %}">
    
    <style>
      #map {
          height: 500px; /* Adjust the height as needed */
          width: 100%;   /* Ensure the map container takes full width */
      }
  </style>
</head>

<body class="blog-page">
  <header id="header" class="header d-flex align-items-center fixed-top">
    <a href="{% url 'BunyanApp:Home' %}" class="logo">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <img alt="bunyan logo" src="{% static 'images/white logo.png' %}" class="logo_shadow">
    </a>

    <div class="nav-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">



      <nav id="navmenu" class="navmenu">
        <ul>
          
          <li><a href="{% url 'BunyanApp:Home' %}">Home</a></li>
          <li><a href="{% url 'BunyanApp:services' %}">Services</a></li>
          <li><a href="{% url 'BunyanApp:about' %}">About</a></li>
          <li><a href="{% url 'BunyanApp:team' %}">Team</a></li>
          <li><a href="{% url 'BunyanApp:assessment' %}">Assessment</a></li>
          <li><a href="{% url 'BunyanApp:login' %}" class="active">Login</a></li>
          <li><a href="{% url 'BunyanApp:contact' %}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>


  <main class="main">

    <div class="page-title">
      <div class="container position-relative">
      
      </div>
  </div>

    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>YOUR SUPPORT TEAM, READY AND CARING</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ therapist.photo.url }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{therapist.first_name}} {{therapist.last_name}}</h4>
                <span><a href="/booking/{{therapist.first_name}}-{{therapist.last_name}}" class="btn btn-primary">Begin Sessions</a>
                  <a href="/team/{{therapist.first_name}}-{{therapist.last_name}}/profile"class="btn btn-contrast">View Profile</a></span>
              </div>
            </div>
          </div><!-- End Team Member -->
<!-- End Team Member -->
<h5>
Gender: {{ therapist.gender|capfirst }}
<br>
<p>Age: {{ therapist.get_age }}</p>
<br>
Country: {{therapist.country.name}}
<br>

<p>Languages: {{ language_names }}</p>
Specializations: <span>{% for specialization in therapist.specializations.all %}
    <li>{{ specialization.title }}: {{ specialization.description }}</li>
    {% endfor %}</span>
Experience Years: {{therapist.experience_years}}
</h5>
    <h5>Maps:</h5>     
    <div id="map"></div>

        </div>
      </div>

    </section><!-- /Team Section -->
        <!-- Services Section -->
        <section id="services" class="services section">

          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Services</h2>
            <p>TTHE CARE YOU DESERVE</p>
          </div><!-- End Section Title -->
    
          <div class="container">
    
            <div class="row gy-4">
    
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item  position-relative">
                  <div class="icon">
                    <i class="bi-shield-lock" style="color: #0f5342;"></i>
                  </div>
                  
                    <h3>Complete Confidentiality</h3>
                  
                  <p>We guarantee full privacy at every stage of therapy, with strict protection of your data.</p>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                  <div class="icon">
                    <i class="bi bi-calendar4-week" style="color: #fd7e14;"></i>
                  </div>
                  
                    <h3>Easy Scheduling</h3>
                  
                  <p>Flexible appointment scheduling that fits your needs through a simple and effective system.</p>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                  <div class="icon">
                    <i class="bi-camera-video" style="color: #10976f;"></i>
                  </div>
                  
                    <h3>Remote Sessions</h3>
                  
                  <p>Connect with your therapist from anywhere through secure and accessible remote sessions.</p>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative">
                  <div class="icon">
                    <i class="bi-bar-chart" style="color: #6610f2;"></i>
                  </div>
                  
                    <h3>Continuous Follow-up and Regular Evaluation</h3>
                  
                  <p>Receive consistent monitoring of your progress with regular evaluation sessions for better treatment.</p>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item position-relative">
                  <div class="icon">
                    <i class="bi bi-heart" style="color: #df1529;"></i>
                  </div>
                  
                    <h3>Personalized Psychological Support</h3>
                  
                  <p> Every session is conducted with care and respect, ensuring you feel comfortable expressing yourself in the way that suits you best.

                  </p>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item position-relative">
                  <div class="icon">
                    <i class="bi-star" style="color: #f3268c;"></i>
                  </div>
                  
                    <h3>Tailored Services for Your Needs</h3>
                  
                  <p>We prioritize your needs by offering therapy programs specifically designed for you.</p>
                </div>
              </div><!-- End Service Item -->
    
            </div>
    
          </div>
    
        </section><!-- /Services Section -->


  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container">

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>info@example.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->
      </div>
  
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- MAPS GOOGLE -->
  <script>
    function initMap() {
        var latitude = {{ therapist.latitude|default:"null" }};
        var longitude = {{ therapist.longitude|default:"null" }};

        if (latitude === null || longitude === null) {
            document.getElementById('map').innerHTML = '<p>Location coordinates not available.</p>';
            return;
        }

        var therapistLocation = { lat: latitude, lng: longitude };

        var mapOptions = {
            zoom: 12,
            center: therapistLocation
        };

        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var marker = new google.maps.Marker({
            position: therapistLocation,
            map: map,
            title: '{{ therapist.first_name }} {{ therapist.last_name }}'
        });

        var infoWindowContent = `
            <div>
                <strong>Clinic Dr. {{ therapist.first_name }} {{ therapist.last_name }}</strong><br>
                Location: {{ therapist.location }}<br>
                <strong>Contact:</strong> {{ therapist.mobile }}<br>
                <a href="https://www.google.com/maps/dir/?api=1&destination=${latitude},${longitude}" target="_blank">Get Directions</a>
            </div>
        `;

        var infoWindow = new google.maps.InfoWindow({
            content: infoWindowContent
        });

        marker.addListener('click', function() {
            infoWindow.open(map, marker);
        });
    }

    window.onload = initMap;
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6Y9-qwWu1HjOOqxuTncZua9Jfc90ZwIc&callback=initMap">

</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6Y9-qwWu1HjOOqxuTncZua9Jfc90ZwIc"></script>
  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>