<!DOCTYPE html>
<html>
<head>
    <title>Take Assessment</title>
</head>
<body>
    <h1>{{ assessment.get_type_display }}</h1>
    <form method="post" action="/take_assessment/{{ assessment.id }}/">
        {% csrf_token %}
        {% for question in assessment.questions.all %}
            <fieldset>
                <legend>{{ question.text }}</legend>
                {% for choice in question.choices.all %}
                    <label>
                        <input type="radio" name="question_{{ question.id }}" value="{{ choice.id }}" required>
                        {{ choice.text }}
                    </label><br>
                {% endfor %}
            </fieldset>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
    <p>User ID: {{ request.session.user_id }}</p>
    <p>User First_name: {{request.session.user_first_name}}</p>
</body>
</html>
