/* Background color for the navbar */
.navbar, .nav-link {
  background-color: #407d75 !important; 
  color: white !important; /* White text color */
}


/* Background color for the main sidebar (navigation) */
.main-sidebar {
  background-color: #407d75 !important; /* Even darker green */
}

/* Background color for the sidebar logo area */
.brand-link {
  background-color: #407d75 !important; /* Darker green for logo area */
}

/* Background color for the footer */
.main-footer {
  background-color: #407d75  !important; /* Same as navbar or slightly different */
  color: white !important; /* White text color */
}

/* Adjust text color in the sidebar for better visibility */
.main-sidebar .nav-link {
  color: white !important; /* White text color for sidebar links */
}

/* Optional: Adjust text color in the footer */
.main-footer a {
  color: white !important; /* White text color for footer links */
}